* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --title-spacing: 2px;
    --title-weight: 900;
    --title-family: "UnifrakturCook", cursive;
    --title-style: normal;
    --text-family: "Griffy", system-ui;
    --text-weight: 400;
    --text-style: normal;
}

.header {
   width: 100%;
   height: 100vh;
 
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: black;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: orangered;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
     /* creates padding around scroll thumb */
  }

/* HERO */

.hero {
    background: url("./images/horror-9.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    color: white;
    border-image:  linear-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 50%)) 1;
}

.hero > h1 {
    position: relative;
    top: 10%;
    left: 5%;
    font-size: 50px;
    font-family: "Nosifer", cursive;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
}

.box-hero {
    width: 40vw;
    position: relative;
    top: 40%;
    left: 55%;
    display: grid;
    gap: 10px;
    text-align: left;
}

.box-hero .title-hero {
   font-size: 45px;
   letter-spacing: var(--title-spacing);
   font-family: var(--title-family);
   font-weight: var(--title-weight);
   font-style: var(--title-style);
}

.box-hero > p {
    font-size: 20px;
    font-family: var(--text-family);
    font-weight: var(--text-weight);
    font-style: var(--text-style);
}

/* MAIN */


/* .box-main {
    background: orangered;
    height: 40vh;
}

.box-main > p {
    font-size: 30px;

} */

/* EFEITO NO TEXTO COM FUNDO LARANJA */

.scrolling-text-container {
    width: 100%;
    height: 30vh;
    overflow: hidden;
    position: relative;
    background: orangered;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrolling-text {
    display: inline-block;
    white-space: nowrap;
    font-family: var(--text-family);
    font-size: 30px;
    animation: scroll-text 10s linear infinite;
}

@keyframes scroll-text {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: rotateX(-100%);
    }
    
}


#persons {
    background: url("./images/horror-5.jpg");
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 130vh;
    text-align: center;
    padding: 45px;
    color: white;
}

#persons h2 {
    font-family: var(--title-family);
    font-weight: 400;
    font-style: var(--title-style);
    letter-spacing: var(--title-spacing);
    font-size: 35px;
}

#persons p {
    font-family: var(--text-family);
    font-weight: 400;
    font-style: var(--text-style);
    font-size: 25px;
}

.conteiner-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    width: 300px;
    height: 400px;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
    margin-top: 10rem;
   
}

.card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255, 255, 255, .05);
    background: url("./images/horror-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card-inner2 {
    width: inherit;
    height: inherit;
    background: rgba(255, 255, 255, .05);
    background: url("./images/horror-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card-inner3 {
    width: inherit;
    height: inherit;
    background: rgba(255, 255, 255, .05);
    background: url("./images/horror-8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    margin: 20px;
   
}

.card-content > h2 {
    color: white;
    letter-spacing: 2px;
    font-family: var(--title-family);
    font-style: var(--title-style);
    margin-bottom: 5px;

}

.texto {
    letter-spacing: 2px;
    font-family: var(--title-family);
    font-weight: 700;
    font-style: var(--title-style);
    font-size: 10px;
}

.card:hover {
    transform: scale(1.04) rotate(1deg);
    text-transform: uppercase;
}

.circle {
    width: 100px;
    height: 100px;
    background: radial-gradient(#ff7f00, #ff4d00);
    border-radius: 50%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
    top: -25px;
    left: -25px;
}

.circle:nth-child(2) {
    bottom: -25px;
    right: -25px;
    animation-name: move-down1;
}

@keyframes move-up6 {
    to {
      transform: translateY(-10px);
    }
  }
  
  @keyframes move-down1 {
    to {
      transform: translateY(10px);
    }
  }

/* CARDS - TESTEMUNHAS */

.testemunhas {
   background: url("./images/horror-10.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   height: 135vh;
    display: grid;
    gap: 2px;
    padding: 15px;
    color: white;
}

.box-testemunhas {
    text-align: right;
    padding: 25px;
    height: 20vh;
}

.box-testemunhas h2 {
    font-family: var(--title-family);
    font-weight: 400;
    font-style: var(--title-style);
    letter-spacing: 2px;
    font-size: 35px;
    margin-bottom: 3px;
}

.box-testemunhas p {
    font-family: var(--text-family);
    font-weight: 400;
    font-style: var(--text-style);
    font-size: 20px;
}

/* GALERIA DE TESTEMUNHAS */

.depoimentos {
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin-bottom: 35px;
  
}

.depoimento-1 {
    border: 1px solid orangered;
    color: white;
    width: 25rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: center;
    border-radius: 5px;
    padding: 10px;   
    background: rgba(0, 0, 0, 0.5);
}

.depoimento-2 {
    align-self: flex-end;
}

.depoimento-1  p:nth-child(1) {
    font-family: var(--text-family);
    font-weight: var(--text-weight);
}

.nome-depoimento {
    font-family: var(--title-family);
    font-size: 20px;
    font-weight: var(--title-weight);
}

.image-depoimento {
    width: 100%;
    height: 90px;
    object-fit: cover;
}

.halloween-container {
    background-color: #ff4d00;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.halloween-container > div {
    text-align: center;
    width: 70vw;
    display: grid;
    gap: 5px;
    font-family: var(--text-family);
    font-size: 20px;
}

.halloween-container > div > p {
    font-family: var(--title-family);
    letter-spacing: var(--title-spacing);
}


